@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
.ual-title, .ual-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.ual-generic-wrapper {
    padding: 10px;
}

.ual-generic-button {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 20px;
    margin: 20px;
    color: #470FF4;
    border-radius: 4px;
    cursor: pointer;
    background-color: #CEBBC9;
}

.ual-generic-button.blue {
    color: #CEBBC9;
    background-color: #4056F4
}

.ual-generic-button.red {
    color: #CEBBC9;
    background-color: #CE2D4F;
}

.ual-btn-wrapper {
    margin: 20px 0px 40px 0px;
}